{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<main>
   <div class="video-container">
      <iframe width="100%" height="550" src="{% static 'img/Presentacion.webm' %}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
</main>
{% endblock %}

{% block extra_style %}
<style>
   Estilos para hacer el video responsive 
   .video-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      margin: 20px auto;
      max-width: 800px;
   }

   .video-iframe {
      width: 100%;
      height: 100%;
      border: none;
   }

   
Estilos adicionales para centrar el contenido 
   .center-content {
      text-align: center;
   }


   @media screen and (max-width: 600px) {
      .video-container {
            padding-bottom: 75%;
      }
   }
</style>
{% endblock %}